name: docs
on:
  push:
    branches:
      - main
      - update/docs

permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.14
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.8.13"
      - name: Install dependencies
        run: uv sync --locked --only-group docs
      - uses: actions/cache@v4
        with:
          key: ${{ github.ref }}
          path: .cache
      - run: uv run mkdocs gh-deploy --force
