name: Tests
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
  schedule:
    # cron every week on monday
    - cron: "0 0 * * 2"

permissions:
  contents: write
  pull-requests: write

jobs:
  tests:
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
    name: "Python ${{ matrix.python-version }}"
    runs-on: "ubuntu-latest"

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.8.13"
      - name: Install dependencies
        run: uv sync --locked --dev --all-extras
      - name: Check dependencies
        run: uv lock --check
      - name: Pytest
        run: uv run pytest -v --cov=./fastapi_views --cov-report term-missing --cov-report xml:/tmp/coverage.xml --junitxml=/tmp/pytest.xml ./tests
      - name: Coverage Report
        if: matrix.python-version == '3.14'
        uses: MishaKav/pytest-coverage-comment@main
        with:
          pytest-xml-coverage-path: /tmp/coverage.xml
          junitxml-path: /tmp/pytest.xml
      - name: Ruff
        if: matrix.python-version == '3.14'
        run: |
          uv run ruff check ./fastapi_views
          uv run ruff format ./fastapi_views --check
      - name: Mypy
        if: matrix.python-version == '3.14'
        run: uv run mypy ./fastapi_views
      - name: Bandit
        if: matrix.python-version == '3.14'
        run: uv run bandit --skip B101 -r ./fastapi_views
